<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>User home</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container"> 
            <a class="navbar-brand" href="#">
                <i class="fa d-inline fa-lg fa-circle"></i>
                <b> System noName | Hello <span class="text-ligth"> <%= userinf.prenom %> </span></b>
            </a> 
        </div>
    </nav>

    <%- include('./partials/foot.ejs')%>
</body>
</html>